<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>913860589942-gg8jjl757jkn0q5fbg26d5vlcq3rq8st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913860589942-gg8jjl757jkn0q5fbg26d5vlcq3rq8st</string>
	<key>API_KEY</key>
	<string>AIzaSyCh0JIdl-4KleSnJcwp-iqr9pmZ0z25sCc</string>
	<key>GCM_SENDER_ID</key>
	<string>913860589942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>revo.APPFORMANAGEMENT</string>
	<key>PROJECT_ID</key>
	<string>appformanagement</string>
	<key>STORAGE_BUCKET</key>
	<string>appformanagement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:913860589942:ios:be6b3b89c6bb7e67</string>
	<key>DATABASE_URL</key>
	<string>https://appformanagement.firebaseio.com</string>
</dict>
</plist>